{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "Stmt1423852703000",
            "Effect": "Allow",
            "Action": [
                "aws-portal:ModifyBilling",
                "aws-portal:ModifyPaymentMethods",
                "aws-portal:ViewBilling",
                "aws-portal:ViewPaymentMethods",
                "aws-portal:ViewUsage"
            ],
            "Resource": [
                "*"
            ]
        }
    ]
}
